{% extends 'client_templates/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{% translate "Проектирование рецептур" %}{% endblock page_title%}


{% block content %}
<body>

	<!-- home page slider -->
	<div class="homepage-slider">

		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">{% translate "О нас" %}</p>
								<h1>{% translate "База данных пищевых продуктов питания КР" %}</h1>
								<div class="hero-btns">
									<a href="{% url 'about-us' %}" class="boxed-btn">{% translate "Подробнее" %}</a>
									<a href="{% url 'contact' %}" class="bordered-btn">{% translate "Связаться с нами" %}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">{% translate "Калькулятор" %}</p>
								<h1>{% translate "Для расчета состава пищевого продукта" %}</h1>
								<div class="hero-btns">
									<a href="{% url 'login' %}" class="boxed-btn">{% translate "Расчитать" %}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">{% translate "база данных" %}</p>
								<h1>{% translate "Продуктов питания Кыргызской Республики" %}</h1>
								<div class="hero-btns">
									<a href="{% url 'list-of-products' %}" class="bordered-btn">{% translate "Подробнее" %}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!--  -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<!-- <div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Расчет</span> Продуктов</h3>
						<p>Описание</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'meels' %}"><img src="{% static 'client/img/products/meat.JPEG'%}" alt=""></a>
						</div>
						<h3>Мясные</h3>
						<a href="{% url 'meels' %}" class="cart-btn"><i class="fas"></i>Расчитать</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'meels' %}"><img src="{% static 'client/img/products/milk.JPEG'%}" alt=""></a>
						</div>
						<h3>Молочные</h3>
						<a href="{% url 'meels' %}" class="cart-btn"><i class="fas"></i>Расчитать</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'meels' %}"><img src="{% static 'client/img/products/bakery.JPEG'%}" alt=""></a>
						</div>
						<h3>Хлебобулочные</h3>
						<a href="{% url 'meels' %}" class="cart-btn"><i class="fas"></i>Расчитать</a>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- end product section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=5lxU68AogtY" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">{% translate "Текст" %}</p>
						<h2>{% translate "Название" %} <span class="orange-text">{% translate "компании" %}</span></h2>
						<p>{% translate "Информация о компании" %}</p>
						
						<a href="{% url 'about-us' %}" class="boxed-btn mt-4">{% translate "Больше информаций" %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->

</body>
{% endblock content %}