{% extends 'staff_templates/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}Калькулятор рецептуры мясных продуктов{% endblock page_title%}

{% block content %}

{% if user.is_authenticated%}
<style>
	#ingredients-wrapper {
		position: relative;
	}

	.btn-calculate {
		background-color: #F28123;
		color: #fff;
		font-weight: bold;
	}

	.btn-calculate:hover {
		background-color: #ff7f16;
		color: #fff;
	}

	.btn-add {
		background-color: #374b56;
		color: #fff;
		font-weight: bold;
	}

	.btn-add:hover {
		background-color: #06374f;
		color: #fff;
	}

	.btn-wrapper {
		z-index: 5;
		position: absolute;
		right: 0;
	}

	.control-btns {
		width: 50px;
		cursor: pointer;
	}

	.delete-btn .fa-times {
		font-size: 22px;
		color: red;
	}

	.control-btns:hover .fa-times {
		color: #F28123;
		transition: .5s;

	}

	.bg-custom {
		background-color: rgba(0, 0, 0, .05);
	}

	.card-title h3 {
		text-align: center;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
	}

	select.form-control {
		margin-bottom: 15px;
	}

	.ing-num-wrapper {
		position: absolute;
		top: 0;
		right: 0;
	}

	.ing-num {
		font-weight: bolder;
		color: rgba(0, 0, 0, .2);
	}

	@media print {
		.no-print{
			display: none;
		}
		.chart-print{
			width: 100%;
		}
	}
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg homepage-bg-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>{% translate "Калькулятор рецептуры пищевых продуктов" %}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->


<!-- cart -->
<div class="cart-section mt-100 mb-150">
	<div class="container">
		<div class="card-title  mt-5">
			{% if error_message %}
			<div class="alert alert-danger alert-dismissible" role="alert">{{error_message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
		</div>

		<div class="container">
			<form id="meal-form">
				{% csrf_token %}
				<div class="row">
					<div class="form-outline">
						<input type="text" id="product" name="product" class="form-control" required/>
						<label class="form-label font-weight-bold" for="product">{% translate "Введите название продукта" %}</label>
					</div>
				</div>
		</div>


		<hr>
		<div class="wrapper" id="ingredients-wrapper">
			<div class="row mb-5 pt-3">
				<div class="ing-num-wrapper">
					<span class="ing-num">1</span>
				</div>
				<div class="col-lg-3 col-sm-12">
					<div class="form-outline">
						<select name="region" id="region_0" class="form-control" onchange="changeWeek(this);" required>
							<option value="0">Выберите регион</option>
							{% for value in regions %}
							<option value="{{value.id}}">{{value.region}}</option>
							{% endfor %}
						</select>
						<label class="form-label font-weight-bold" for="region">{% translate "Регион" %}</label>
					</div>
				</div>
				<div class="col-lg-3 col-sm-12">
					<div class="form-outline">
						<select name="ingredients" id="ing_0" class="form-control" required>
							<option value="0">Выберите вид ингредиента</option>
							{% for value in ingredient %}
							<option value="{{value.id}}">{{value.name}} - {{value.category.Region}}</option>
							{% endfor %}
						</select>
						<label class="form-label font-weight-bold" for="meal">{% translate "Ингредиент" %}</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-outline">
						<input type="number" id="massfraction_0" name="massfraction" min="0" class="form-control" required/>
						<label class="form-label font-weight-bold" for="massfraction">{% translate "Массовая доля в рецепте, %" %}</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-outline">
						<input type="number" id="price_0" name="price" min="0" class="form-control" required/>
						<label class="form-label font-weight-bold" for="price">{% translate "Цена за 1кг" %}</label>
					</div>
				</div>
			</div>
		</div>

		<input type="hidden" name="counter" id="counter" value="0">
		<!-- Submit button -->
		<button type="button" class="btn btn-calculate btn-block mb-4" onclick="ClickSolution();">{% translate "Рассчитать" %}</button>
		<button type="button" class="btn btn-add btn-block mb-4" id="btn-add">{% translate "Добавить Ингредиент +" %}</button>
		</form>
	</div>

	<script src="{% static 'client/js/jquery-1.11.3.min.js'%}"></script>
	<script>
		var i = 0;
		$('#btn-add').on('click', function () {
			var html = '<div class="row mb-4 pt-3" id="row_' + ++i + '">' +
				'<div class="btn-wrapper">' +
				'<div class="control-btns">' +
				'<div class="delete-btn" title="Удалить элемент" id="delete-btn">' +
				'<i class="fas fa-times"></i>' +
				'</div>' +
				'</div>' +
				'</div>' +
				'<div class="col-lg-3 col-sm-12">' +
				'<div class="form-outline">' +
				'<select name="region" id="region_' + i + '" class="form-control" onchange="changeWeek(this);" required>' +
				'<option value="0">Выберите регион</option>' +
				'{% for key, value in regions %}' +
				'<option value="{{key}}">{{value}}</option>' +
				'{% endfor %}' +
				'</select>' +
				'<label class="form-label font-weight-bold" for="region">Регион</label>' +
				'</div>' +
				'</div>' +
				'<div class="col-lg-3 col-sm-12">' +
				'<div class="form-outline">' +
				'<select name="ingredients" id="ing_' + i + '" class="form-control">' +
				'<option value="0">Выберите вид ингредиента</option>' +
				'{% for value in ingredient %}' +
				'<option value="{{value.id}}">{{value.name}} - {{value.category.Region}}</option>' +
				'{% endfor %}' +
				'</select>' +
				'<label class="form-label font-weight-bold" for="meal">Ингредиент</label>' +
				'</div>' +
				'</div>' +
				'<div class="col-lg-3">' +
				'<div class="form-outline">' +
				'<input type="number" id="massfraction_' + i + '" name="massfraction" min="0" class="form-control" />' +
				'<label class="form-label font-weight-bold" for="massfraction">Массовая доля в рецепте, %</label>' +
				'</div>' +
				'</div>' +
				'<div class="col-lg-3">' +
				'<div class="form-outline">' +
				'<input type="number" id="price_' + i + '" name="price" min="0" class="form-control" />' +
				'<label class="form-label font-weight-bold" for="price">Цена за 1кг</label>' +
				'</div>' +
				'</div>' +
				'</div>';
			if (i < 10) {
				$("#ingredients-wrapper").prepend(html);
				$('.ing-num').text(i+1);
				$("#counter").val(i);
			} else {
				alert("Вы можете добавить максимально 10 ингредиентов");
				i = 9;
			}
		});

		$('body').on("click", "#delete-btn", function () {
			$(this).parents('.row').remove();
			i = i - 1;
			$('.ing-num').text(i+1);
			$("#counter").val(i);
			$(".region").val(i);
		});
	</script>

<!-- end cart -->
<div class="container" id="outputcalculate">

</div>
{% else %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg homepage-bg-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>{% translate "Калькулятор рецептуры пищевых продуктов" %}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3>Прайс-лист <span class="orange-text">калькулятора</span></h3>
					<p>Чтобы получить доступ вы должны войти в систему, а если у вас нет аккаунта, то отправьте нам заявку</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="{% url 'contact' %}"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
					</div>
					<h3>Цена за 1 месяц</h3>
					<p class="product-price"><span>доступ за</span> 25$ </p>
					<a href="{% url 'contact' %}" class="cart-btn"> Оставить заявку</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="{% url 'contact' %}"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
					</div>
					<h3>Цена за 3 месяца</h3>
					<p class="product-price"><span>доступ за</span> 60$ </p>
					<a href="{% url 'contact' %}" class="cart-btn"> Оставить заявку</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="{% url 'contact' %}"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
					</div>
					<h3>Цена за год</h3>
					<p class="product-price"><span>доступ за</span> 280$ </p>
					<a href="{% url 'contact' %}" class="cart-btn"> Оставить заявку</a>
				</div>
			</div>
				<a href="{% url 'login' %}" class="cart-btn m-auto"> Войти</a>
		</div>
	</div>
</div>
<!-- end product section -->

{% endif %}

{% endblock content %}

{% block custom_js %}
<script src="{% static 'client/js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

	function changeWeek(caller) {
        var choiceregion = caller.id; // Get Select ID
        var e = document.getElementById(choiceregion).value; // Get Data by ID Select
        var lastIelement = choiceregion.charAt(choiceregion.length - 1); // Get Last Symbol for Ingredient )))
		console.log(caller.id)
       $.ajax({                       // initialize an AJAX request
         url: '{% url "ajax_load_region" %}',// set the url of the request (= localhost:8000/load-courses/)
         data: {
            'regionId': e        // add the programming id to the GET parameters
         },
        success: function (data) {   // data is the return of the load_courses view function
         $("#ing_"+lastIelement).html(data);  // replace the contents of the course input with the data that came from the server
        }
       });
    }


</script>

{% endblock custom_js %}