{% extends 'admin_templates/admin_base.html' %}   
{% load static %}
  {% block content %}
      <div class="content-wrapper">
            <div class="page-header">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'admin_panel' %}">Главная</a></li>
                </ol>
              </nav>
            </div>
            {% if messages %} 
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissible" role="alert">{{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% elif message.tags == "success" %}
                    <div class="alert alert-success alert-dismissible" role="alert">{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card shadow-lg">
                  
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center">
                      <h4 class="card-title mb-sm-0">Список Пользователей</h4>
                      <a href="{% url 'create_user' %}" class="btn btn-primary btn-rounded my-1 my-sm-0 ml-auto">
                        Добавить
                      </a>
                    </div>
                  </div>

                  <div class="card-body">

                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        {% if readers_list %}

                        <div class="row">
                          <div class="col-sm-12 col-md-10">
                            <div class="dataTables_length" id="dataTable_length">
                              <label>Показать <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select> записей</label>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-2">
                            <div id="dataTable_filter" class="dataTables_filter">
                              <label><i class="fa fa-search"></i><input type="search" class="form-control form-control-sm" placeholder="Ключевое слово" aria-controls="dataTable">
                              </label>
                            </div>
                          </div>
                        </div>

                        <thead>
                          <tr>
                            <th class="font-weight-bold">№</th>
                            <th class="font-weight-bold">Имя пользователя</th>
                            <th class="font-weight-bold">email</th>
                            <th class="font-weight-bold">Пароль</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for value in readers_list %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td><label class="badge font-weight-bold">{{value.username}}</label></td>
                            <td><label class="badge badge-warning">{{value.email}}</label></td>
                            <td><label class="badge badge-warning">{{value.password}}</label></td>
                            <td class="edit-delete-icons">
                              <a href="{% url 'value_update' value.id %}"><i class="fa fa-pen-square"></i></a> |
                              <a href="{% url 'value_delete' value.id %}" class="text-danger"><i class="fa fa-trash"></i></i></a>
                            </td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                        {% else %}
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <div class="card card-secondary">
                              <span class="card-body d-lg-flex align-items-center">
                                <p class="mb-lg-0">Нет активных записей</p>
                              </span>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </table>
                    </div>

                    {% if is_paginated %}
                    <div class="d-flex mt-4 flex-wrap">
                      <nav class="ml-auto">
                      
                        <ul class="pagination separated pagination-info">
                          <li class="page-item"><a class="page-link">{{page_obj.number}} из {{page_obj.paginator.num_pages}}</a></li>
                          {% if page_obj.has_previous %}
                              <li class="page-item"><a href="?page=1" class="page-link">Начало</a></li>
                              <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link"><i class="fa fa-arrow-left"></i> Назад</a></li>
                          {% endif %}
                          
                          {% if page_obj.has_next %}
                              <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link"><i class="fa fa-arrow-right"></i> Вперед</a></li>
                              <li class="page-item"><a href="?page={{page_obj.paginator.num_pages}}" class="page-link">Конец</a></li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
      </div>
          <!-- content-wrapper ends -->
{% endblock content %}
          {% block custom_js%}
          
          {% endblock custom_js %}